<br>
<br>
<br>

<figure class="text-center">
  <h1>
<p> Number of Products in the database </p>
      <%= @productscount %>
      <br>
      <a href="http://localhost:3000/admin/products">Admin product list page</a>
      </h1>
      
     
     <h1> <p> Number of Categories in the database </p>
      <%= @categoriescount %>
      <br>
      <a href="http://localhost:3000/admin/products">Admin product list page</a>
    </h1>
